<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- 配置filter的访问和过滤规则 -->
	
	<!-- 第一题 -->
	<filter>
		<filter-name>filter01</filter-name>
		<filter-class>work03.filter01</filter-class>
	</filter>
	<servlet>
		<servlet-name>Servletwork02</servlet-name>
		<servlet-class>work01.Servletwork02</servlet-class>
	</servlet>
	<filter-mapping>
		<filter-name>filter01</filter-name>
		<url-pattern>/work03/*</url-pattern>
	</filter-mapping>
	<!-- 配置servlet的名字和访问URL -->
	<servlet-mapping>
		<servlet-name>Servletwork02</servlet-name>
		<url-pattern>/Servletwork02</url-pattern>
	</servlet-mapping>
	
<!-- 第二题 -->
 <servlet>
    <servlet-name>Encodeservlet</servlet-name>
    <servlet-class>work03.servlet.Encodeservlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>Encodeservlet</servlet-name>
    <url-pattern>/Encodeservlet</url-pattern>
  </servlet-mapping>
	<filter>
		<filter-name>filter02</filter-name>
		<filter-class>work03.filter02</filter-class>
	</filter>
  	<filter-mapping>
		<filter-name>filter02</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
<!-- 第三题 -->	
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>work03.servlet.LoginServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
 </servlet-mapping>
<filter>
	<filter-name>filter03</filter-name>
	<filter-class>work03.filter03</filter-class>
</filter>
<filter-mapping>
	<filter-name>filter03</filter-name>
	<url-pattern>/save/save.jsp</url-pattern>
</filter-mapping>
  
  <!-- 第四题 -->
<servlet>
    <servlet-name>Servletwork04</servlet-name>
    <servlet-class>work03.servlet.Servletwork04</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>Servletwork04</servlet-name>
    <url-pattern>/Servletwork04</url-pattern>
</servlet-mapping>

<filter>
	<filter-name>filter04</filter-name>
	<filter-class>work03.filter04</filter-class>
</filter>
<filter-mapping>
	<filter-name>filter04</filter-name>
	<url-pattern>/servlet/Servletwork04</url-pattern>
</filter-mapping>


<!-- 第五题 -->
  <servlet>
    <servlet-name>StrServlet</servlet-name>
    <servlet-class>work03.servlet.StrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StrServlet</servlet-name>
    <url-pattern>/StrServlet</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>filter05</filter-name>
  	<filter-class>work03.filter05</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>filter05</filter-name>
  	<servlet-name>StrServlet</servlet-name>
  </filter-mapping>
<welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
