<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Myservlet01</servlet-name>
    <servlet-class>servletWork.Myservlet01</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Myservlet01</servlet-name>
    <url-pattern>/Myservlet01</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Myservlet02</servlet-name>
    <servlet-class>servletWork.Myservlet02</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Myservlet02</servlet-name>
    <url-pattern>/Myservlet02</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Myservlet03</servlet-name>
    <servlet-class>servletWork.Myservlet03</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>Myservlet05</servlet-name>
    <servlet-class>servletWork.Myservlet05</servlet-class>
    	<init-param>
    			<param-name>name</param-name>
    			<param-value>仙女</param-value>
    	</init-param>
    	<init-param>
    			<param-name>age</param-name>
    			<param-value>18</param-value>
    	</init-param>
    	<init-param>
    			<param-name>罩杯</param-name>
    			<param-value>ZZZZZZZ</param-value>
    	</init-param>
  </servlet>
	<context-param>
		<param-name>name</param-name>
		<param-value>SIMTH</param-value>
	</context-param>
	<context-param>
		<param-name>age</param-name>
		<param-value>17</param-value>
	</context-param>
	<context-param>
		<param-name>罩杯</param-name>
		<param-value>AAAAAAAAA</param-value>
	</context-param>
  <servlet-mapping>
    <servlet-name>Myservlet05</servlet-name>
    <url-pattern>/Myservlet05</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Myservlet04</servlet-name>
    <servlet-class>servletWork.Myservlet04</servlet-class>
  </servlet>

	 <servlet>
    <servlet-name>Myservlet07</servlet-name>
    <servlet-class>servletWork.Myservlet07</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Myservlet07</servlet-name>
    <url-pattern>/Myservlet07</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>Myservlet06</servlet-name>
    <servlet-class>servletWork.Myservlet06</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Myservlet06</servlet-name>
    <url-pattern>/Myservlet06</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Myservlet03</servlet-name>
    <url-pattern>/Myservlet03</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Myservlet04</servlet-name>
    <url-pattern>/Myservlet04</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
