<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <!-- servlet的配置 -->
  <servlet>
  	<servlet-name>MyServlet01</servlet-name>
  	<servlet-class>com.kz.servlet.MyServlet01</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyServlet02</servlet-name>
    <servlet-class>com.kz.servlet.MyServlet02</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyServlet03</servlet-name>
    <servlet-class>com.kz.servlet.MyServlet03</servlet-class>
 	
 
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyServlet04</servlet-name>
    <servlet-class>com.kz.servlet.MyServlet04</servlet-class>
 	<init-param>
 		<param-name>encode</param-name>
 		<param-value>utf-8</param-value>
 	</init-param>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyServlet05</servlet-name>
    <servlet-class>com.kz.servlet.MyServlet05</servlet-class>
  </servlet>

  
  <context-param>
  	<param-name>encode</param-name>
 	<param-value>utf-8</param-value>
  </context-param>
  



  <servlet-mapping>
  	<servlet-name>MyServlet01</servlet-name>
  	<url-pattern>/MyServlet01</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyServlet02</servlet-name>
    <url-pattern>/MyServlet02</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyServlet03</servlet-name>
    <url-pattern>/MyServlet03</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyServlet04</servlet-name>
    <url-pattern>/MyServlet04</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyServlet05</servlet-name>
    <url-pattern>/MyServlet05</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
