<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <!-- servlet的配置:挂牌上岗
  	1，备注服务员的名字和住址
   -->
  <servlet>
  	<servlet-name>MyServlet01</servlet-name>
  	<servlet-class>com.kz.servlet.MyServlet01</servlet-class>
  
  </servlet>
  
  <servlet>
  	<servlet-name>MyServlet03</servlet-name>
  	<servlet-class>com.kz.servlet.MyServlet03</servlet-class>
  	<init-param>
  		<param-name>encode</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </servlet>
  
  <servlet>
  	<servlet-name>MyServlet04</servlet-name>
  	<servlet-class>com.kz.servlet.MyServlet04</servlet-class>
  	<init-param>
  		<param-name>encode</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>MyServlet02</servlet-name>
  	<servlet-class>com.kz.servlet.MyServlet02</servlet-class>
  	<init-param>
  		<param-name>age</param-name><!-- key -->
  		<param-value>20</param-value><!-- value -->
  	</init-param>
  	
  	<init-param>
  		<param-name>encode</param-name><!-- key -->
  		<param-value>utf-8</param-value><!-- value -->
  	</init-param>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyServlet05</servlet-name>
    <servlet-class>com.kz.servlet.MyServlet05</servlet-class>
  </servlet>

  <!-- 2,备注服务员的名字和工号
  	 工号必须以/开始
   -->
  <servlet-mapping>
  		<servlet-name>MyServlet01</servlet-name>
  		<url-pattern>/MyServlet01</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
  		<servlet-name>MyServlet02</servlet-name>
  		<url-pattern>/MyServlet02</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
  		<servlet-name>MyServlet03</servlet-name>
  		<url-pattern>/MyServlet03</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  		<servlet-name>MyServlet04</servlet-name>
  		<url-pattern>/MyServlet04</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyServlet05</servlet-name>
    <url-pattern>/MyServlet05</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
