body {
	font: 14px arial;
}

.suggest_link {
	background-color: #FFFFFF;
	padding: 2px 6px 2px 6px;
}

.suggest_link_over {
	background-color: gray;
	padding: 2px 6px 2px 6px;
}

#suggest {
	position: abslute;
	background-color: #FFFFFF;
	text-align: left;
	border: 1px solid #000000;
	display: none;
}
