<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test1</servlet-name>
    <servlet-class>com.wtg.Test1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test2</servlet-name>
    <servlet-class>com.wtg.Test2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test3</servlet-name>
    <servlet-class>com.wtg.Test3</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test4</servlet-name>
    <servlet-class>com.wtg.Test4</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>Test1</servlet-name>
    <url-pattern>/Test1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test2</servlet-name>
    <url-pattern>/Test2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test3</servlet-name>
    <url-pattern>/Test3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test4</servlet-name>
    <url-pattern>/Test4</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  	<servlet-name>Test5</servlet-name>
  	<servlet-class>com.wtg.Test5</servlet-class>
	<init-param>
		<param-name>name</param-name>
		<param-value>张三</param-value>
	</init-param>
	<init-param>
		<param-name>age</param-name>
		<param-value>30</param-value>
	</init-param>
	<init-param>
		<param-name>sex</param-name>
		<param-value>男</param-value>
	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Test5</servlet-name>
  	<url-pattern>/Test5</url-pattern>
  </servlet-mapping>
  <context-param>
		<param-name>name</param-name>
		<param-value>李四</param-value>
	</context-param>
	<context-param>
		<param-name>age</param-name>
		<param-value>50</param-value>
	</context-param>
	<context-param>
		<param-name>sex</param-name>
		<param-value>男</param-value>
	</context-param>
  
  
  <servlet>
  	<servlet-name>Test6</servlet-name>
  	<servlet-class>com.wtg.Test6</servlet-class>
  
  </servlet>
	<servlet-mapping>
		<servlet-name>Test6</servlet-name>
		<url-pattern>/Test6</url-pattern>
	</servlet-mapping>
	
	
	
	  <servlet>
  	<servlet-name>Test7</servlet-name>
  	<servlet-class>com.wtg.Test7</servlet-class>
  
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test8</servlet-name>
    <servlet-class>com.wtg.Test8</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoAddServlet</servlet-name>
    <servlet-class>com.wtg.DoAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Xian</servlet-name>
    <servlet-class>com.wtg.Xian</servlet-class>
  </servlet>



	<servlet-mapping>
		<servlet-name>Test7</servlet-name>
		<url-pattern>/Test7</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test8</servlet-name>
    <url-pattern>/Test8</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoAddServlet</servlet-name>
    <url-pattern>/DoAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Xian</servlet-name>
    <url-pattern>/Xian</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
